<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {% if pageName and title %}
  {{ pageName }} - Музей профессионального образования
  {% else %}
  Музей профессионального образования
  {% endif %}
</title>
<meta name="description" content="Музей профессионального образования КОГПОБУ Кировский авиационный техникум">
<meta name="keywords"
content="Музей КАТ, Музей Кировского авиационного техникума, Музей профессионального образования, Музей Киров, Музей, КАТ, КОГПОБУ, Кировский авиационный техникум, Киров КАТ">
<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/favicons/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/favicons/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/favicons/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicons/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/favicons/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/favicons/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicons/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/favicons/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/favicons/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicons/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='images/favicons/manifest.json') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/favicons/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">
<!-- frameworks -->
<link rel="stylesheet" href="{{ url_for('static', filename='frameworks/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='frameworks/smartphoto/smartphoto.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='frameworks/fontawesome/css/all.min.css') }}">
<!-- custom style -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% if jumbotron_img_url %}
  <style>
    .jumbotron-bg {
      background: linear-gradient(0deg, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0.33) 70%),
                  url('{{ url_for('static', filename=jumbotron_img_url) }}') no-repeat center center;
      background-size: cover;
    }
  </style>
{% else %}
  <style>
    .jumbotron-bg {
      background: linear-gradient(0deg, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0.33) 70%),
        url('{{ url_for('static', filename='images/placeholders/placeholder_700x500.jpg') }}') no-repeat center center;
      background-size: cover;
    }
  </style>
{% endif %}